{% extends "basenavbar.html" %}
{%load static%}


  <link rel="stylesheet" href="{%static 'css/caro.css'%}">
  <div id="container">
  <div id="slider-container">
    <span onclick="slideRight()" class="btn"></span>
      <div id="slider">
        <div class="slide"><span>1</span>
          <img  src="https://cdn-images.cure.fit/www-curefit-com/image/upload/w_300,ar_1.77,c_fill,fl_progressive,f_auto,q_auto:eco/dpr_2/image/diy/bdd86d94-48c3-4e90-8bca-754637c0213b" alt="error">

        </div>
        <div class="slide"><span>1</span>
                    <img src="https://cdn-images.cure.fit/www-curefit-com/image/upload/w_300,ar_1.77,c_fill,fl_progressive,f_auto,q_auto:eco/dpr_2/image/diy/bdd86d94-48c3-4e90-8bca-754637c0213b" alt="error">

        </div>
        <div class="slide"><span>2</span>
                    <img src="https://cdn-images.cure.fit/www-curefit-com/image/upload/w_300,ar_1.77,c_fill,fl_progressive,f_auto,q_auto:eco/dpr_2/image/diy/bdd86d94-48c3-4e90-8bca-754637c0213b" alt="error">
        </div>
        <div class="slide"><span>3</span>
                    <img src="https://cdn-images.cure.fit/www-curefit-com/image/upload/w_300,ar_1.77,c_fill,fl_progressive,f_auto,q_auto:eco/dpr_2/image/diy/bdd86d94-48c3-4e90-8bca-754637c0213b" alt="error">

        </div>
        <div class="slide"><span>4</span>
                    <img src="https://cdn-images.cure.fit/www-curefit-com/image/upload/w_300,ar_1.77,c_fill,fl_progressive,f_auto,q_auto:eco/dpr_2/image/diy/bdd86d94-48c3-4e90-8bca-754637c0213b" alt="error">

        </div>
        <div class="slide"><span>5</span>
                    <img src="https://cdn-images.cure.fit/www-curefit-com/image/upload/w_300,ar_1.77,c_fill,fl_progressive,f_auto,q_auto:eco/dpr_2/image/diy/bdd86d94-48c3-4e90-8bca-754637c0213b" alt="error">

        </div>
        <div class="slide"><span>6</span>
                    <img src="https://cdn-images.cure.fit/www-curefit-com/image/upload/w_300,ar_1.77,c_fill,fl_progressive,f_auto,q_auto:eco/dpr_2/image/diy/bdd86d94-48c3-4e90-8bca-754637c0213b" alt="error">

        </div>
        <div class="slide"><span>7</span>
                    <img src="https://cdn-images.cure.fit/www-curefit-com/image/upload/w_300,ar_1.77,c_fill,fl_progressive,f_auto,q_auto:eco/dpr_2/image/diy/bdd86d94-48c3-4e90-8bca-754637c0213b" alt="error">

        </div>
        <div class="slide"><span>8</span>
                    <img src="https://cdn-images.cure.fit/www-curefit-com/image/upload/w_300,ar_1.77,c_fill,fl_progressive,f_auto,q_auto:eco/dpr_2/image/diy/bdd86d94-48c3-4e90-8bca-754637c0213b" alt="error">

        </div>
        <div class="slide"><span>9</span>
                    <img src="{%static 'images/first-trainer.jpg'%}" alt="error">
></div>
    </div>
    <span onclick="slideLeft()" class="btn"></span>
  </div>
  <script src="{% static 'css/caro.js'%}"></script>
</div>
{% endblock %}